<mat-menu #appMenu="matMenu">
    <!-- <button mat-menu-item (click)="toggleTheme()"> Switch theme </button>
    <button mat-menu-item (click)="help()"> Help </button>
    <button mat-menu-item (click)="logout()"> Logout </button> -->
</mat-menu>

<mat-toolbar color="primary">
    <span>Hello {{ user }}</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
    <mat-icon class="logout" (click)="logout()">arrow_back</mat-icon>
</mat-toolbar>

<!-- <p class="title"> Your tasks: </p> -->