/* .header
{
    position: absolute;
    width: 100%;
    height: 15%;
} */
.example-spacer {
    flex: 1 1 auto;
  }

.title
{
    text-align: center;
    font-size: 2em;
}

.logout
{
    transition-duration: 0.5s;
    font-size: 36px;
    padding: 0;
    margin-bottom: 7.5px;
    margin-right: 7.5px;
}

.logout:hover
{
    color: blue;
}

.theme
{
    padding-right: 50px;
    transition-duration: 0.3s;
}

.theme:hover
{
    color:blue
}