.task
{
    width: 50%;
}
.content
{
    /* background-color: red; */
    transition: all 0.2s ease-in-out; 
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    padding: 15px;
}

.content:hover
{
    /* transform: scaleY(2); */
    height: 100px;
}