<!-- <mat-list *ngIf="time != '7'">
  <mat-list-item *ngIf="time == 'today'"><p><small>{{ item.date.split(',')[1] }}</small></p></mat-list-item>
  <mat-list-item *ngIf="time == 'all'"><p><small>{{ item.date }}</small></p></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>{{ item.text }}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<mat-list *ngIf="time == '7'">
  <mat-list-item><p><small>{{ item.date.split(',')[1] }}</small></p></mat-list-item>
  <mat-divider></mat-divider>
  <div class="content">
    <mat-list-item>{{ item.text }}</mat-list-item>
  </div>
  <mat-divider></mat-divider>
</mat-list> -->
<!-- (mouseenter) = "hover(true)"  (mouseleave) = "hover(false)" -->
<!-- [ngClass]="isexpand ? 'contentexpand' : 'content'" -->

<div *ngIf="time != '7'" class="task" [style.height.%]="height">

        <div class="side" (click)="expand()">
            <mat-icon class="icon" >{{ expandvalue }}</mat-icon>
        </div>

        <div class="therest">
            <p *ngIf="time == 'today'"><small>{{ item.date.split(',')[1] }}</small></p>
            <p *ngIf="time == 'all'"><small>{{ item.date }}</small></p>
            <mat-divider></mat-divider>
            <div class="content" >
                {{ item.text }}
                <div class="contentbot" *ngIf="isexpand">
                    <div> Labels: {{ item.labels }} </div>
                    <div> list {{ item.list }} </div>
                    <div> board: {{ item.board }} </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
</div>

<div *ngIf="time == '7'" class="task" [style.height.%]="height">

    <div class="side" (click)="expand()">
        <mat-icon class="icon" >{{ expandvalue }}</mat-icon>
    </div>

    <div class="therest">
        <p><small>{{ item.date.split(',')[1] }}</small></p>
        <mat-divider></mat-divider>
        <div class="content" >
            {{ item.text }}
            <div class="contentbot" *ngIf="isexpand">
                <div> Labels: {{ item.labels }} </div>
                <div> list {{ item.list }} </div>
                <div> board: {{ item.board }} </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <!-- <p><small>{{ item.date.split(',')[1] }}</small></p>
    <mat-divider></mat-divider>
    <div class="content">
        {{ item.text }}
    </div>
    <mat-divider></mat-divider> -->
</div>

<!-- <div class="info">
    <p class="data">List: {{ item.list }} </p>
    <mat-divider></mat-divider>
    <p class="data">Board: {{ item.board }} </p>
    <mat-divider></mat-divider>
    <p class="data">Labels: {{ item.labels }} </p>
    <mat-divider></mat-divider>
</div> -->