.task
{
    width: 50%;
    height: 50px;
    /* height: 100%; */
    position: relative;
    /* padding-top: 20px; */
    /* margin-left: 30px; */
    background-color: blue;
    transition: all 0.5s ease-in-out; 
}

.content
{
    position: relative;
    transition: all 0.5s ease-in-out; 
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    padding: 15px;
}

/* .contentexpand
{
    transition: all 0.5s ease-in-out; 
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 15px;
} */

/* .poop
{
    position: absolute;
    height: 30px;
    width: 100%;
}
.hara
{
    position: absolute;
    width:  10%;
    height: 100%;
    background-color: yellow;
} */

.side
{
    height: 100%;
    width: 8%;
    left: -10px;
    background-color: gray;
    position: absolute;
    /* min-width: 100px; */
}

.therest
{
    height: 100%;
    width: 95%;
    right: 0;
    background-color: yellow;
    position: absolute;
}

.contentbot
{
    /* background-color: orange; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    margin-bottom: -25px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
.divider
{
    border-width: 2px;
    /* border-style: solid; */
}

.info
{
    position: absolute;
    /* background-color: green; */
    width: 30%;
    right: 0;
    height: 50%;
    top: 0;
    padding: 10px;
}

.data
{
    padding-top: 20px;
}


.icon
{
    bottom: 0;
    position: relative;
}
/* .content:hover
{

    height: 100px;
} */

    /* transform: scaleY(2); */