@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    /* 90% {
      transform: translateX(+2%);
    } */
    100% {
        transform: translateX(0%);
      }
  }


.content
{
    position: absolute;
    width: 70%;
    left: 30%;
    /* height: 100%; */
    /* padding: 50px; */
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: column;
    text-align: center;
    justify-content: center;
    animation: 1s ease-out 0s 1 slideInFromRight;
    /* overflow-y: visible; */
    height: 90%;
    /* background-color: red; */
    padding-left: 25px;
    /* background-color: green; */
}

.scrollable
{
    position: relative;
    height: 100%;
    overflow-y: auto;
}
.filters
{
    width: 30%;
    /* right: 30%; */
    /* height: 100%; */
    position: absolute;
    height: 100%;
    background-color: rgb(236, 236, 236);
    /* background-color: blue; */
}
.spaceout
{
    padding: 30px;
}