<div class="filters" [style.backgroundColor] = "themeservice.filtersColor" [style.color]= "themeservice.textColor">
    <app-filters [checklist]='checkboxes' [boardlist]='boardlist' [listslist] = 'listslist' (data_labeled)="LabelsChanged($event)" (data_boarded)="BoardsChanged($event)"
    (time)="timeChange($event)" (data_listed)="ListsChanged($event)" [style.color]= "themeservice.textColor"></app-filters>
</div>

    <!-- <div class="content">
                <h4 mat-line *ngIf="time == 'today'"><b>Today</b>  <small>{{ aweek[0].toLocaleString().split(',')[0] }}</small></h4>
                <h4 mat-line *ngIf="time == 'all'"><b>All</b></h4>
                <h4 mat-line *ngIf="time == '7'"><b>Next 7 days</b></h4>
                <app-taskbetter2 class="spaceout"></app-taskbetter2>
                <app-taskbetter2 class="spaceout"></app-taskbetter2>

                <div *ngIf="time != '7'" class="more">
                    <app-taskbetter *ngFor="let item of filterd_data" [item]='item' [time]='time' [aweek]='aweek' class="spaceout" (refresh)="refresh($event)"></app-taskbetter>
                </div>

                <div *ngIf="time == '7'" class="more">
                    <div *ngFor="let day of aweek; let i = index" class="aday" >
                        <b *ngIf="i === 0">Today</b>
                        <b *ngIf="i === 1">Tomorrow</b>
                        <b *ngIf="i > 1">{{ weekdays[day.getDay()] }}</b>

                        <div *ngFor="let item of filterd_data">
                            <app-taskbetter *ngIf="todayCheck(item,day)" [item]='item' [time]='time' [aweek]='aweek' (refresh)="refresh($event)" class="spaceout"></app-taskbetter>
                            <app-taskbetter2 class="spaceout"></app-taskbetter2>
                        </div>
                    </div>
                </div>
    </div> -->

    <div class="newcontent" [style.backgroundColor] = "themeservice.bgColor" [style.color]= "themeservice.textColor">
        <div class="title">
            <h4 mat-line *ngIf="time == 'today'"><b class="title2">Today </b>  <small class="time">{{ aweek[0].toLocaleString('en-GB').split(',')[0] }}</small></h4>
            <h4 mat-line *ngIf="time == 'all'"><b class="title2">All</b></h4>
            <h4 mat-line *ngIf="time == '7'"><b class="title2">Next 7 days</b></h4>
        </div>
        <div class="actualcontent">
            <div *ngIf="time == '7'" class="">
                <div *ngFor="let day of aweek; let i = index" class="" style="padding: 30px">
                    <b *ngIf="i === 0">Today  <small class="time">{{ aweek[i].toLocaleString('en-GB').split(',')[0] }}</small></b> 
                    <b *ngIf="i === 1">Tomorrow  <small class="time">{{ aweek[i].toLocaleString('en-GB').split(',')[0] }}</small></b> 
                    <b *ngIf="i > 1">{{ weekdays[day.getDay()] }}   <small class="time">{{ aweek[i].toLocaleString('en-GB').split(',')[0] }}</small></b>
                    <mat-divider style="margin-top: 10px; width: 50%;"></mat-divider>

                    <!-- <div class="test"> </div> -->
                    <!-- <app-taskbetter *ngIf="todayCheck(item,day)" [item]='item' [time]='time' [aweek]='aweek' (refresh)="refresh($event)" class="spaceout"></app-taskbetter> -->
                    <ng-container *ngFor="let item of filterd_data">
                        <!-- <app-taskbetter2></app-taskbetter2> -->
                        <!-- <app-taskbetter *ngIf="todayCheck(item,day)" [item]='item' [time]='time' [aweek]='aweek' (refresh)="refresh($event)" class=""></app-taskbetter> -->
                        <app-taskbetter2 [item]='item' *ngIf="todayCheck(item,day)" [time]='time' [aweek]='aweek' (refresh)="refresh($event)"></app-taskbetter2>
                    </ng-container >
                </div>
            </div>

            <div *ngIf="time != '7'" class="more">
                <app-taskbetter2 *ngFor="let item of filterd_data" [item]='item' [time]='time' [aweek]='aweek' (refresh)="refresh($event)"></app-taskbetter2>
            </div>
        </div>
    </div>
    <!-- <div style="width: 20%; background-color: red; height: 5%; bottom: 0; position: absolute;">

    </div> -->

    <div class="bot">
        <app-search (searchValue)="searched($event)"></app-search>
    </div>
<!-- </div> -->

