
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    /* 90% {
      transform: translateX(+2%);
    } */
    100% {
        transform: translateX(0%);
      }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    /* 90% {
      transform: translateX(+2%);
    } */
    100% {
        transform: translateX(0%);
      }
  }


  
/* @media only screen and (max-width: 400px) {
    filters {
        width: 5%;
        position: absolute;
        height: 100%;
        background-color: rgb(236, 236, 236);
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
  } */
  
.test
{
    color: my-app-primary;
}

.rightside
{
    position: absolute;
}
.content
{
    position: absolute;
    width: 70%;
    left: 30%;
    /* height: 100%; */
    /* padding: 50px; */
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    animation: 1s ease-out 0s 1 slideInFromRight;
    /* overflow-y: visible; */
    height: 90%;
    /* background-color: red; */
    padding-left: 25px;
    overflow-y: auto;
    overflow-x: auto;
    /* background-color: green; */
}

/* .scrollable
{
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
} */

.more
{
    position: relative;
    /* background-color: blue; */
    /* width: 50%; */
    padding: 10px;
}
.bot
{
    position: absolute;
    /* background-color: rgba(0, 0, 255, 0.171); */
     bottom: 0;
    left: 0;
    width: 10%;
    /* width: 50%; */
    /* width: 10%;
    height: 10%;
    margin: 200px; */
    /* height: 5%;
    width: 100%;
    bottom: 0;
    padding: 0;
    width: 70%;
    left: 30%; */
}
.filters
{
    width: 30%;
    /* min-width: 300px; */
    position: absolute;
    height: 100%;
    background-color: rgb(236, 236, 236);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.spaceout
{
    /* background-color: blue;
    position: relative; */
    /* padding: 30px; */
    /* background-color: yellow; */
    padding: 30px;
}

.aday
{
    position: relative;
    /* height: 100%;
    width: 100%; */
    padding-top: 30px;
    /* background-color: green; */
}
.toright
{
  padding-left: 20px;
}

.info
{
    position: absolute;
    /* background-color: green; */
    width: 30%;
    right: 0;
    height: 50%;
    top: 0;
    padding: 10px;
}

.data
{
    padding-top: 20px;
}


/* css is cancer */

.newcontent
{
    /* background-color: green; */
    position: absolute;
    width: 70%;
    left: 30%;
    height: 100%;
    animation: 1s ease-out 0s 1 slideInFromRight;
    /* background-color: my-app-primary; */
    /* background-color: color-primary-bg; */
}

.title
{
    /* background-color: blue; */
    position: absolute;
    height: 10%;
    width: 100%;
    padding: 30px;
    top: 0;
}

.actualcontent
{
    /* background-color: lightskyblue; */
    position: absolute;
    height: 80%;
    top: 10%;
    /* bottom: 0; */
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.test
{
    /* background-color: red; */
    position: relative;
    height: 100px;
    width: 30%;
}

.time
{
    color: #808080 !important;
    margin-left: 6px;
    font-size: 14px;
    font-weight: normal;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1.5px;
    border-top-style: solid;
}

.title2
{
    font-size: 25px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  @media only screen and (max-width: 767px) {
    .filters {
      display: none;
    }

    .newcontent
    {
        width: 100%;
        left: 0;
    }

    .bot
    {
        position: absolute;
        top: 10%;
        left: 25%;
        width: 30%;
    }
  }