.hara
{
    height: 150px;
    width: 50%;
    /* background-color: pink !important;  */
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out; 
}

.side
{
    height: 100%;
    width: 5%;
    left: 0;
    /* background-color: gray; */
    position: absolute;
}

.rest
{
    height: 100%;
    width: 95%;
    right: 0;
    /* background-color: yellow; */
    position: absolute;
    transition: all 0.5s ease-in-out; 
}

.content
{
    position: relative;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 15px;
    transition: all 0.5s ease-in-out; 
}

.icon
{
    display: flex;
    align-items: center;
}

.contentbot
{
    position: absolute;
    transition: all 0.5s ease-in-out; 
    padding-left: 15px;
    bottom: 0;
}

.delete
{
    right: 0;
    position: absolute;
    bottom: 0;
    padding-top: 30px;
    padding-right: 30px;
}

.delete:hover
{
    color: red;
}