<!-- <div class="wrapper">
  <mat-card class="mat-elevation-z8 centered filters" color="primary">
      <mat-checkbox *ngFor="let item of checklist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" (change)="checkBoxClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
  </mat-card>
</div> -->

<!-- mat-elevation-z2 -->
<div class="filteroptions">
  <div class="item" (click)="timeClick('today')" [ngClass]="{'itemselected':type=='today'}">
    <mat-icon>today</mat-icon> Today
  </div>
  <div class="item" (click)="timeClick('7')" [ngClass]="{'itemselected':type=='7'}">
    <mat-icon>event</mat-icon> Next 7 days
  </div>
  <div class="item" (click)="timeClick('all')" [ngClass]="{'itemselected':type=='all'}">
    <mat-icon>date_range</mat-icon> All
  </div>
  <!-- <div class="item">
    <mat-icon>assignment</mat-icon> By board
  </div> -->


  <mat-expansion-panel class="expansion mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansiontitle">
          <mat-icon>assignment</mat-icon> Boards
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="expansionbody">
          <mat-checkbox *ngFor="let item of boardlist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" 
          (change)="boardClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
        </div>
  </mat-expansion-panel>

  <!-- <mat-tree class="item">
      <mat-tree-node> parent node </mat-tree-node>
      <mat-tree-node> -- child node1 </mat-tree-node>
      <mat-tree-node> -- child node2 </mat-tree-node>
  </mat-tree> -->

  <!-- <div class="item">
    <mat-icon>label</mat-icon> By Label
  </div> -->

  <mat-expansion-panel class="expansion mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansiontitle">
          <mat-icon>label</mat-icon>  Labels
        </mat-panel-title>
      </mat-expansion-panel-header>

        <div class="expansionbody">
          <mat-checkbox *ngFor="let item of checklist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" 
          (change)="filterClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
        </div>
  </mat-expansion-panel>

</div>
<!-- <mat-divider vertical style="height: 1000px"></mat-divider> -->
        <!-- <div class="iteminside" *ngFor="let item of checklist" (onclick)="checkBoxClick(item.value,$event.checked)">
            <mat-icon>label_important</mat-icon> {{item.value}}
        </div> -->