
.filters {
    position: relative;
   left: -50%;
   float: left;
}

.wrapper
{
   position: relative;
   left: 50%;
   float: left;
   background-color: red;
}

.filteroptions
{
    padding: 30px;
    font-size: 1.5em;
    font-display: bold;
    width: 50%;
}

.item
{
    /* background-color: white; */
    transition-duration: 0.5s;
    margin-top: 10px;
}

.itemselected
{
    background-color: lightgray;
}
.item:hover
{
    background-color: rgba(200,200,200,0.2);;
}
.iteminside
{
    
}
.iteminside:hover
{
    background-color: lightgray;
}
/* .item:hover
{
    background-color: lightblue;
} */

.expansion
{
    background-color: rgba(245, 245, 245, 0);
    margin-top: 10px;
}
.expansiontitle
{
    font-size: 1.5em;
    font-display: bold;
    padding: 0px;
    margin: 0px;
}

.expansionbody
{
    display: flex;
    flex-direction: column;
}


