<!-- <div class="wrapper">
  <mat-card class="mat-elevation-z8 centered filters" color="primary">
      <mat-checkbox *ngFor="let item of checklist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" (change)="checkBoxClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
  </mat-card>
</div> -->

<!-- mat-elevation-z2 -->
<!-- itemselected -->
<div class="filteroptions">
  <div class="item" (click)="timeClick('today')" [ngClass]="{'color-white':type=='today'}"> 
    <mat-icon>today</mat-icon> Today
  </div>
  <div class="item" (click)="timeClick('7')" [ngClass]="{'color-white':type=='7'}">
    <mat-icon>event</mat-icon> Next week
  </div>
  <div class="item" (click)="timeClick('all')" [ngClass]="{'color-white':type=='all'}">
    <mat-icon>date_range</mat-icon> All
  </div>

  <mat-expansion-panel class="expansion mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansiontitle">
          <mat-icon>assignment</mat-icon> Boards
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="expansionbody">
          <mat-checkbox *ngFor="let item of boardlist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" 
          (change)="boardClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
        </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title class="expansiontitle">
        <mat-icon>list</mat-icon>  Lists
      </mat-panel-title>
    </mat-expansion-panel-header>

      <div class="expansionbody">
        <mat-checkbox *ngFor="let item of listslist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" 
        (change)="ListClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
      </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="expansiontitle">
          <mat-icon>label</mat-icon>  Labels
        </mat-panel-title>
      </mat-expansion-panel-header>

        <div class="expansionbody">
          <mat-checkbox *ngFor="let item of checklist" [(ngModel)]="item.isSelected" style="margin-right: 10px;" 
          (change)="filterClick(item.value,$event.checked)" color="warn">{{item.value}}</mat-checkbox>
        </div>
  </mat-expansion-panel>

</div>