/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import '@angular/material/prebuilt-themes/purple-green.css'; */

body,html
{
    /* background: url(assets/sky.jpg) no-repeat center center fixed; */
    background-color: whitesmoke;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*
{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}